In [1]:
conda install -c conda-forge gmaps

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [2]:
# # 6.5.2

# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one onto a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2022-02-03 02:25:00,19.7297,-155.0900,77.25,78,100,11.50
1,1,Ushuaia,AR,2022-02-03 02:20:33,-54.8000,-68.3000,42.46,61,75,20.71
2,2,Rikitea,PF,2022-02-03 02:21:43,-23.1203,-134.9692,78.55,74,89,8.79
3,3,Lingao,CN,2022-02-03 02:25:01,19.9103,109.6859,58.03,87,100,9.51
4,4,East London,ZA,2022-02-03 02:25:01,-33.0153,27.9116,73.96,93,99,7.87

In [4]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Confirgure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# # # GENERAL SYNTAX FOR CREATING HEATMAP.

# # # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # # 2. Assign the weights variable to some values.
# temperatures = an array of length equal to the locations array length
# # # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # # 4. Assign the heatmap_layer variable to the heatmap_layer attributeand add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
# # # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # # 6. Call the figure to plot the data.
# fig

In [7]:
# Get the maximum temperature. We added this because we thru an "InvalidWeightException" error.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Using max() to get the largest value btwn temp and 0. If temp is less than 0 then 0 will be added to the 
# list in its place.

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.  We changed this after added cell above.
# We could hav also correct error by this entry
# Re-did the code.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# heat_layer = gmaps.heatmap_layer(locations, weights=temps) closed this out to run the code just above.
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# ADJUSTING HEATMAP

# Add a center zoom of earth using gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Create Percent Humidity Heatmap

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Create Percent Humidity Cloudiness

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Create Percent Wind Speed Heatmap

# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2022-02-03 02:25:00,19.7297,-155.0900,77.25,78,100,11.50
2,2,Rikitea,PF,2022-02-03 02:21:43,-23.1203,-134.9692,78.55,74,89,8.79
4,4,East London,ZA,2022-02-03 02:25:01,-33.0153,27.9116,73.96,93,99,7.87
9,9,Kapaa,US,2022-02-03 02:25:03,22.0752,-159.3190,79.12,68,0,1.01
10,10,Lorengau,PG,2022-02-03 02:20:32,-2.0226,147.2712,78.22,84,100,7.58
17,17,Khudumelapye,BW,2022-02-03 02:25:05,-23.8833,24.7500,73.87,67,90,5.66
22,22,Hithadhoo,MV,2022-02-03 02:25:07,-0.6000,73.0833,81.36,70,8,3.27
24,24,Coari,BR,2022-02-03 02:25:08,-4.0850,-63.1414,74.12,98,100,2.44
25,25,Cabo San Lucas,MX,2022-02-03 02:21:13,22.8909,-109.9124,71.51,69,100,1.99
26,26,Wawa,NG,2022-02-03 02:25:08,9.9022,4.4192,71.91,20,28,7.43

In [21]:
# The following 3 codes will help determine if the preferred_cities_df DataFrame has any null values for any of the rows.
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [22]:
preferred_cities_df.notnull().sum()

City_ID       204
City          204
Country       204
Date          204
Lat           204
Lng           204
Max Temp      204
Humidity      204
Cloudiness    204
Wind Speed    204
dtype: int64

In [23]:
preferred_cities_df.count()

City_ID       204
City          204
Country       204
Date          204
Lat           204
Lng           204
Max Temp      204
Humidity      204
Cloudiness    204
Wind Speed    204
dtype: int64

In [25]:

# Made a copy of the "perferred_data_df" DataFrame, named it hotel_df for filtering purposes.

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng", ]].copy()
# Added new column, named it "Hotel Name".
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0             Hilo      US     77.25  19.7297 -155.0900
2          Rikitea      PF     78.55 -23.1203 -134.9692
4      East London      ZA     73.96 -33.0153   27.9116
9            Kapaa      US     79.12  22.0752 -159.3190
10        Lorengau      PG     78.22  -2.0226  147.2712
17    Khudumelapye      BW     73.87 -23.8833   24.7500
22       Hithadhoo      MV     81.36  -0.6000   73.0833
24           Coari      BR     74.12  -4.0850  -63.1414
25  Cabo San Lucas      MX     71.51  22.8909 -109.9124
26            Wawa      NG     71.91   9.9022    4.4192

In [28]:
# Set parameters to search for a hotel.
# "Passing Parameters In URLs" states that we can add the parameters as a dictionary of strings, using the
# params keyword argument requests.get('base URL', params=parameters). 

params = {"radius": 5000, "type": "lodging", "key": g_key}

In [32]:
# Iterate through the DataFrame.
# "iterrows()"" function to perform iteration but "index" and "row" are needed in the "for loop".

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    
    # We received an IndexError.  We will use try-except to assist to run code.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hilo,US,77.25,19.7297,-155.0900,Hilo Hawaiian Hotel
2,Rikitea,PF,78.55,-23.1203,-134.9692,People ThankYou
4,East London,ZA,73.96,-33.0153,27.9116,Tu Casa
9,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Lorengau,PG,78.22,-2.0226,147.2712,Lorengau Harbourside Hotel
17,Khudumelapye,BW,73.87,-23.8833,24.7500,
22,Hithadhoo,MV,81.36,-0.6000,73.0833,Scoop Guest House
24,Coari,BR,74.12,-4.0850,-63.1414,HOTEL ALEX FLAT
25,Cabo San Lucas,MX,71.51,22.8909,-109.9124,Hotel Tesoro Los Cabos
26,Wawa,NG,71.91,9.9022,4.4192,

In [35]:
# # Create MAXIMUM TEMP HEATMAP from hotel_df

# # Add a heatmap of temperature for the vacation spots.
# locations = hotel_df[["Lat", "Lng"]]
# max_temp = hotel_df["Max Temp"]
# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
#              max_intensity=300, point_radius=4)

# fig.add_layer(heat_layer)
# # Call the figure to plot the data.
# fig

# We edited the above code to add MARKERS.
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Adding an "info_box_template".
# The "info_box_template" variable is asssignbed to a multiline string using 3 quotes.
# Text inside, called "tag", the multiline string is HTML code, which is defined by open & closed 
# angular brackets.
# Closing of angular brackets is preceded by a forward-slash ("/")
#info_box_template = """
# <dl>
# <dt>Name</dt><dd>{column1}</dd>
# <dt>Another name</dt><dd>{column2}</dd>
# </dl>
# """

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add info_box_content=hotel_info to the gmaps.marker_layer() attribute with the locations.

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))